.carousel-items
{

    .carousel-card
    {
        overflow: hidden;
        &:hover
        {
            cursor: pointer;
            .card-image
            {
                transform: scale(1.3);
            }
        }
    }

}