.main-header
{
    position: relative;
    min-height: 750px;
    background-image: url('../../resources/header-pic.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;

    .header-section
    {
        position: absolute;
        bottom: 5vh;
        padding: 0;
        
    }

    
}