.main-header
{
    min-height: 650px;
    //background-color: black;
    background-image: url('../../resources/header-pic.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
}